* {
  margin: 0;
  padding: 0;
}

.clusterDivStyle {
  width: 40px;
  height: 40px;

  background: #ba1122;
  border: 3px solid #ededed;

  border-radius: 50%;

  color: #ededed;
  line-height: 37px;
  text-align: center;
}